.editor-content{
    margin-top: 5%;
    padding-left: 10%;
}
.input-intro-text{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}

textarea {
    max-width:400px;
    width: 400px;
    height:auto;
    max-height: 300px;

}

textarea, input{
    outline:none;
    border:0;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
textarea:focus, input:focus{
    border-bottom:2px solid lightseagreen;
}

.company-name{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
}
.company-description{
    background-color: transparent;
    height:800px;
    width:300px;
    resize: none;
    border:0;
}
.company-description:active{
    border: 0!important;
}
.separator{
    width:50%;
    text-align: center;
}
.error{
    color:darkred;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size:1.2em;
}