<div style="text-align: center">

    <div class="marvel-device nexus5" style="margin-top: 5em;">
        <div class="top-bar"></div>
        <div class="sleep"></div>
        <div class="volume"></div>
        <div class="camera"></div>
        <div class="screen">
            <div ng-if="compCtrl.screen == 'ABOUT'" id="aboutScreen" class="device-screen">
                <div class="screen-title">
                    <p>About Us</p>
                </div>
                <div class="screen-content">
                    <div>
                        <p class="company-name">{{compCtrl.data.name || "Company name"}}</p>
                    </div>
                    <div>
                        <textarea class="company-description" disabled>{{compCtrl.data.description || 'description goes here..' }}</textarea>

                    </div>
                    <div>
                        <p>Visit us at: <a ng-href="http://{{compCtrl.data.websiteURL}}" target="_blank">{{compCtrl.data.websiteURL || 'mySite.com'}}</a></p>
                    </div>
                </div>
            </div>
            <div ng-if="compCtrl.screen == 'IMAGES'" id="imagesScreen" class="device-screen">
                <div class="screen-title">
                    <p>Images</p>
                </div>
                <div ng-if="!!compCtrl.data.loading" class="screen-content">
                    <img src="../../images/ajax-loader.gif" alt="">
                </div>
                <div class="screen-content" ng-if="!compCtrl.data.loading">
                    <div>
                        <p class="company-name">We are beautiful!</p>
                        <p>Don't believe? see for yourself!</p>
                    </div>
                    <div ng-if="compCtrl.data.imgURL" class="mobile-image">
                        <img ng-src="{{compCtrl.data.imgURL}}" alt="">
                    </div>
                </div>
            </div>
            <div ng-if="compCtrl.screen == 'HOURS'" id="hoursScreen" class="device-screen">
                <div class="screen-title">
                    <p>Opening Hours</p>
                </div>
                <div class="screen-content">
                    name: {{compCtrl.data.name}}
                    <br>
                    description: {{compCtrl.data.description}}
                    <br>
                    website: {{compCtrl.data.websiteURL}}
                </div>
            </div>
        </div>
    </div>
</div>
