<div style="text-align: center">

    <div class="marvel-device nexus5" style="margin-top: 5em;">
        <div class="top-bar"></div>
        <div class="sleep"></div>
        <div class="volume"></div>
        <div class="camera"></div>
        <div class="screen">
            <div ng-if="compCtrl.screen == 'ABOUT'" id="aboutScreen" class="device-screen">
                <div class="screen-title">
                    <p>About Us</p>
                </div>
                <div class="screen-content" style="color:black">
                    name: {{compCtrl.data.name}}
                    <br>
                    description: {{compCtrl.data.description}}
                    <br>
                    website: {{compCtrl.data.websiteURL}}
                </div>
            </div>
            <div ng-if="compCtrl.screen == 'IMAGES'" id="imagesScreen">

            </div>
            <div ng-if="compCtrl.screen == 'HOURS'" id="hoursScreen">

            </div>
            <!-- Content goes here -->
        </div>
    </div>
</div>
